# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore log files
*.log

# Ignore environment variables
.venv/
venv/
.env

# IDE-specific files
.vscode/
.idea/

# Output file
tasks.json

# Not meant to be in the project
Unused/
